@font-face {
    font-family: 'Turnpike';
    src: url('/fonts/Turnpike.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    background-color: #111;
    font-family: 'Arial', sans-serif;
    color: #c8ff00;
    margin: 0;
    padding: 0;
}


/* Contenedor centrado */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Tarjeta de inicio de sesión */
.login-card {
    background-color: #333;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 15px rgba(200, 255, 0, 0.2);
}


/* Título principal */
.login-title {
    color: #c8ff00;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}


/* Subtítulo */
.login-subtitle {
    color: #aaa;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}


/* Inputs personalizados */
.form-control {
    background-color: #111;
    border: 1px solid #c8ff00;
    color: #c8ff00;
    border-radius: 20px;
    padding: 10px 20px;
}


.form-label {
    color: #c8ff00;
    margin-bottom: 5px;
    font-size: 14px;
}


/* Botón personalizado */
.btn-login {
    background-color: transparent;
    color: #c8ff00;
    border: 1px solid #c8ff00;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}


.btn-login:hover {
    background-color: #c8ff00;
    color: #111;
}


/* Enlaces */
.register-link, .register-link a {
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 13px;
    text-decoration: none;
}


.register-link a:hover {
    color: #c8ff00;
    text-decoration: underline;
}


/* Estilos para mensajes */
.alert {
    border-radius: 10px;
}
