@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div>
    <body>
    <main>
        <div class="welcome">
            <h1>BIENVENIDO A WEAR SWISE</h1>
            <div class="categories">
                <div class="category">
                    <img src="Images/foto moodboard 3.jpg" alt="Hombres">
                    <p>HOMBRES</p>
                </div>
                <div class="category">
                    <img src="Images/moodboard 4.jpg" alt="Mujeres">
                    <p>MUJERES</p>
                </div>


            </div>
        </div>
    </main>
</body>
</div>